body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.in-text-image-left {
  width: 40%;
  float: left;
}

.in-text-image-right {
  width: 40%;
  float: right;
}

